<!DOCTYPE html>
<html>
<head>
  <title>PrimeNumbers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>I will be on all the pages</h1>
<%= yield %>

</body>
</html>
